.col-md-3 {
    12;
}

.col-md-8 {
    12;
}

.col-md-9 {
    12;
}

.container {
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
};

.row {
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
};

card mb-3 {
  margin: auto;
}